@media (min-width: 720px) and (max-width: 912px) {
    .art-suke {
        display: none;
    } 
    .content-2 {
        margin-top: 200px;
    }
}

@media (min-width: 600px) and (max-width: 720px) {
    .img-champion {
        width: 152px;
        height: 152px;
        margin-bottom: 10px;
    }
    .content-2 {
        margin-left: 50px;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .art-suke {
        display: none;
    } 
    .img-nomes-champions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img-champion {
        width: 152px;
        height: 152px;
        margin-bottom: 10px;
    }
    .nomes-champions {
        margin-bottom: 20px;
    }
    .content-2 {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .redes-sociais img {
        margin-left: 30px;
    }
}

@media (min-width: 280px) and (max-width: 480px) {
    .art-suke {
        display: none;
    }
    .img-champion {
        width: 132px;
        height: 132px;
        margin-bottom: 10px;
    }
    .img-nomes-champions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .nomes-champions {
        margin-bottom: 32px;
    }
    .espaco-champions {
        margin-right: 0;
    }
    .riot {
        font-size: 18px;
    }
    .valorant {
        font-size: 36px;
        text-align: center;
    }
    .content-2 {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .redes-sociais {
        display: flex;
        margin-left: 30px;
        position: absolute;
        bottom: 0;
    }
}